# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/
*.log

# Ignore environment variables
.env

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
